/* ===== BARRA SUPERIOR ===== */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  height: var(--nav-height);
  padding: 0 1.5rem;
  background: var(--nav-bg);
  box-shadow: var(--nav-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar__logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000; 
  text-decoration: none;
  justify-self: start; 
  letter-spacing: 0.5px;
}


.navbar__links {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: center; 
}

.navbar__links a {
  text-decoration: none;
  color: #000; 
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar__links a:hover {
  color: hsla(160, 33%, 59%, 0.877); 
}


.navbar__cart {
  display: flex;
  align-items: center;
  justify-self: end; 
}


@media (max-width: 600px) {
  .navbar {
    padding: 0 1rem;
  }
  .navbar__links {
    display: none; 
  }
}