.Productos {
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.Productos img {
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.Productos img:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.Productos h1 {
    font-size: 2.5em;
    margin: 15px 0;
}

.Productos h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #dbd3d3;
    font-weight: 600;
}

.Productos button {
    color: white;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgb(247, 247, 247);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.Productos button:hover {
    background-color: #ffd90085;
    color: white;
    box-shadow: 0 4px 8px rgba(79, 116, 128, 0.3);
    transform: translateY(-2px);
}