nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}
