*{
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: rgb(0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 25px;
}
h1 a {
  color: whitesmoke;
  text-decoration: none;
}
h1 {
  margin-top: 10px ;
  margin-left: 20px;
}
